<div class="content">
    <div class='title'>
        <h1>Food Cuisine Picker</h1>    
    </div>

    <div class="introText" *ngIf="!isLoading && !isResults">
        <h2>Heaven or Hell. Begin!</h2>
        <br>
        <div class="centreButton">
            <img src="assets/choose-food/alertButton.png" (click)="buttonClick()">
        </div>
    </div>
        
    <div class="loadingArea" *ngIf=isLoading>
        <img src="assets//choose-food/pizzaLoading.png">
    </div>

    <div class="results" *ngIf=isResults>
        <img src="assets/choose-food/{{chosenCuisine}}.jpg">
        <h1>{{chosenCuisine}}</h1>
        <img src="assets/choose-food/again.png" (click)="buttonClick()">
    </div>
</div>

<div class="bottomFooter">
    <p>Version: 0.1</p>
</div>
